[submodule "aoc2022/inputs"]
	path = aoc2022/inputs
	url = https://github.com/selvmaya/aoc-2022-inputs
[submodule "aoc2024/inputs"]
	path = aoc2024/inputs
	url = https://github.com/selvmaya/aoc-2024-inputs
[submodule "aoc2025/inputs"]
	path = aoc2025/inputs
	url = https://github.com/selvmaya/aoc-2025-inputs
